#block1 {
    float: left;
}
#block2 {
    float: left;
}
#block3 {
    float: left;
}

ul li {
    list-style: none;
}

.octodex ul {
 
}

.octocat li {
    width: 300px;
}

.octocat img {
    width: 300px;
    height: 300px;
    border: 2px solid lightgray;
}

.clearFloat {
    clear: both;
    margin: 0px;
    padding: 0px;
}

.image-footer {
    width: 300px;
    height: 40px;
    display: inline;
    position: relative;
}

.image-number {
    font-size: 12px;
}

.image-caption {
    width: 300px;
    float: left;
    display: inline;
    position: relative;s

}

.authors img {
    width: 25px;
    height: 25px;
}

img {}