#block1 {
    float: left;
    margin: 0 0 0 -1;
    padding: 0 1em;
}

#block2 {
    float: left;
    padding: 0 1em;
    margin: 1em 0 0 -1em;
}

#block3 {
    float: left;
    padding: 0 1em;
    margin: 1em 0 0 -1em;
}
.border {
    border: 2px solid lightgray;
}

ul {
    list-style: none;
}

li.octocat {
    list-style: none;
}
ul.octodex {
    
}

.octocat li {
    width: 120px;
}

.octocat img {
    width: 420px;
    height: 420px;
}

.clearFloat {
    clear: both;
    margin: 0px;
    padding: 0px;
}

.image-footer {
    width: 400px;
    height: 50px;
    display: inline;
    position: relative;
    text-align: center;
}

.image-number {
    font-size: 12px;
}

.image-caption {
    width: 420px;
    height: 50px;
    display: inline;
    margin: 0 0 0 50;
    padding: 0 0 10 0;
    
}

ul.authors {
    margin: -9 -270 0 0;
}

.authors img {
    width: 25px;
    height: 25px;
    border-radius: 3px;
}

